/****************************CSS FILE**************************/

/*********************SYDE***************************************/


/*************************HOUSE KEEPING***********************************/
.white{
	color: #ffffff;
}

.sharubati-text{
	font-family: 'Hind', sans-serif;
}

.sharubati-title{
	font-family: 'Sanchez', serif;
	padding-bottom:10px;
}

.sharubati-subtitle{
	font-family: 'Sanchez', serif;
	padding-top: 10px;
	padding-bottom:5px;
}
.gray-text{
	color:#939598;
}

.align-center{
	text-align: center;
}


/******************************************HOME PAGE STYLING**************************************/
.syde-header{

	padding-left: 30px;
}
.menu-links{
	list-style: none;
	padding-top: 10px;
}

.links-list{
	float: left;
	padding-right: 20px;
}

.syde-logo{
	max-height:100px;

}
.above-fold{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom left ,#ca364f, #44425f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top right, #ca364f, #44425f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top right , #ca364f, #44425f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top right , #ca364f, #44425f); /* Standard syntax */
  height:700px;
}

.hero-image{

	float: right;
	width: 100%;
}

.cta-container{
	float: left;
	padding-left: 30px;

}

.running-text{
	font-family: 'Sanchez', serif;
	z-index: 999;
	margin-top:150px;
	font-size: 40pt;
}

.typewriter h1 {
	padding-top: 20px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.cta-button{
	padding:15px 30px;
	background-color:transparent;
	border:none;
	color: white;
	border-radius: 30px;
	margin-top:20px;
	border:2px solid #fff;
}


/************************************SERVICES SECTION****************************************/
.main-services{
	clear:both;
}
.services-header{
	padding-top: 30px;
	font-family: 'Sanchez', serif;
	color: #341e59;
	padding-right: 30px;
}

.border-bar{
	width: 20%;
	margin-top: 30px;
	margin-bottom: 10px;
}
.services-box{
	padding-top: 30px;
}
.services-container{
	background-color: #fafbfb;
	margin-left: -20px;
	padding:10px 10px;
	margin-bottom: 50px; 
	border:0.5px solid #ebebeb;
	-webkit-box-shadow: 0px 0px 3px -1px rgba(184,184,184,1);
-moz-box-shadow: 0px 0px 3px -1px rgba(184,184,184,1);
box-shadow: 0px 0px 3px -1px rgba(184,184,184,1);
}

.services-container:hover{
	background-color:transparent;
	-webkit-box-shadow: 0px 0px 9px -1px rgba(212,212,212,1);
-moz-box-shadow: 0px 0px 9px -1px rgba(212,212,212,1);
box-shadow: 0px 0px 9px -1px rgba(212,212,212,1);
}
.coloured-border{

}
.services-icon{
	padding-top: 40px;
	display:block;
	margin:0 auto;
}
.services-title{
	text-align: center;
	font-family: 'Sanchez', serif;
}

.services-text{
	padding-right: 30px;
}


/******************************************MORE ABOUT US SECTION**********************************/
.more{
	background-color: black;
}
.more-container{
	margin-top: 100px;
	margin-bottom: 100px;
}
.more-title{
	padding-top: 20px;
	padding-right: :20px;
}

.text-container{
	padding-right: 30px;
}
.more-text{
	padding-right: :20px;
	
}

.form-container{
	background-color:#ffffff;
}

.form-header{
	background-image: url("/images/syde-images/formbg-01.png");
	margin-top: 0;
	margin-left: -15px;
	margin-right: -15px;
}

.form-title{
	padding-left:10px;
	padding-top: 30px;
	padding-bottom:25px;
	border-radius: 5px;
}

.form-body{
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 40px;
}
.form-button{
	padding:10px 20px;
	background-color:#df1a50;
	border:none;
	color: white;
	border-radius: 30px;
}

.sharubati-button{
	padding:10px 20px;
	background: red; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left , #ca364f, #44425f); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #ca364f, #44425f); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(right , #ca364f, #44425f); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right , #ca364f, #44425f); /* Standard syntax */
	border:none;
	color: white;
	border-radius: 30px;
	margin-top: 20px;
}

.no-border{
	border-bottom:1px solid #df1a50;
	border-right: 0;
	border-left: 0;
	border-top: 0;
    box-shadow: none;
}
.no-border:focus{
	outline: none;
}

/*******************************************************TESTIMONIAL SECTION*********************************************/
.testimony{
	background-color: #ebebeb;
	padding-bottom: 100px;
	padding-top: 100px;
}
.testimonial-header{
	text-align: center;
}

.testimony-image{
	width: 100%;
	height: auto;
}
.testimony-text{
	padding-top:30px;
}

/**************************************************CLIENTS SECTION***************************************************/
.clients-header{
	padding-top:100px;
	text-align: center;
	padding-bottom:30px;
}

.client-logo{
	width: 100%;
	height: auto;
}



/**************************************************FOOTER SECTION*************************************************/
.footer-section{
	background-color: #ebebeb;
}

.footerform-container{
	padding-top: 100px;
	padding-bottom: 100px;
}



/***********************************************MASTER PAGE****************************************************/
.sharubati-thumbnail-logo{
	width: 50px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sharubati-header{

  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left , #ca364f, #44425f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ca364f, #44425f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right , #ca364f, #44425f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right , #ca364f, #44425f); /* Standard syntax */
}


/************************************************PAGES HEADER***************************************************/
.pages-header{
	background: repeating-linear-gradient(
		-30deg,
		#EAEAEA,
		#EAEAEA 10px,
		#F2F2F2 10px,
		#F2F2F2 20px);
	margin-left: -30px;
	margin-right: -30px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.pages-header-title{
	font-size: 40pt;
}

.speech-mark{
	max-width: 40px;
	height:auto;
	float:left;
	margin-left: -50px;
	margin-top: 30px;
}


/*************************************************PAGES CONTENT******************************************************/
.pages-container{
	margin-top: 70px;
	padding-bottom: 50px;
}

.padding-text-right{
	padding-right: 100px;
}

.pages-form-container{
	background-color: #f2f2f2;
}

.page-content-title{
	padding-bottom: 15px;
}




/****************************************BRANDING PAGE******************************************************************/
.projects-portfolio{
	background-color: #ebebeb;
	margin-left: -30px;
	margin-right: -30px;
	padding-bottom: 70px;
}

.projects-container{
	background-color: #fff;
	margin-top: 10px;
}

.projects-header{
	padding-top: 100px;
	padding-bottom: 20px;
}
.project-thumbnail{
	width: 100%;
	height: auto;
	margin-left: -30px;
}
.project-header{
	padding-top: 50px;
}
.project-text{
	padding-top: 20px;
}



/*************************************************************SUBSCRIBER FORM************************************************/
.subscribe{

	background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left , #ca364f, #44425f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ca364f, #44425f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right , #ca364f, #44425f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right , #ca364f, #44425f); /* Standard syntax */

  	margin-left: -30px;
	margin-right: -30px;
	padding-top: 70px;
	padding-bottom: 50px;

}

.subscriber-form{
	background-color: #ffffff;
}
.subcriber-statement{
	padding-bottom: 20px;
}
.subcriber-email{
	width: 80%;
	float: left;
}


/*****************************************************FOOTER STYLING*********************************************/
.footer{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #f6f6f6;
}

.footer-text{
	padding-right: 100px;
}





/*************************************************WEB DESIGN & DEVELOPMENT PAGE*******************************/
.web-is-big-img{
	width: 100%;
	height: auto;
}
.web-is-big-img-title{
	padding-top: 100px;
	padding-bottom: 20px;
}

.web-services{
	background-color: #ebebeb;
	margin-left: -30px;
	margin-right: -30px;
	padding-bottom:100px;
	padding-top: 50px;
}

.web-services-holder{


}

.web-service{
	background-color: #fff;
	border-right: 2px solid #e6e7e8;
	border-bottom: 2px solid #e6e7e8;
	margin-bottom:0;
}

.web-service-icon{
	padding-top: 30px;
	display:block;
	margin:0 auto;
}

.web-services-subtitle{
	text-align: center;
	padding-top: 0;
}

.web-services-text{
	padding-right: 10px;
	padding-left:10px;
	padding-bottom: 20px;
}

.web-projects{
	margin-left: -30px;
	margin-right: -30px;
	background-color: #f6f6f6;
	padding-bottom: 100px;
}


/*******************************DEVELOPMENT PAGE**********************************/

.industries{
	margin-left: -30px;
	margin-right: -30px;
	background-color: #ebebeb;
	padding-top: 100px;
	padding-bottom: 100px;
}
.industry-icon{
	max-width: 100px;
	height: auto;
	display:block;
	margin:0 auto;
	margin-top: 50px;
}



/************************************DIGITAL MARKETING PAGE*********************************/
.content-marketing{
	padding-top: 100px;
	padding-bottom: 100px;
}
.digital-service-icon{
	width:100%;
	height: auto;
}